<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Hỏi Dân IT - Dự án laptopshop" />
    <meta name="author" content="Hỏi Dân IT" />
    <title>View Order - Hỏi Dân IT</title>
    <link href="/admin/css/styles.css" rel="stylesheet" />
    <script
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="sb-nav-fixed">
    <%- include("../layout/header"); -%>
    <div id="layoutSidenav">
      <%- include("../layout/sidenav"); -%>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
            <h1 class="mt-4">Orders</h1>
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
              <li class="breadcrumb-item">
                <a href="/admin/order"></a>
              </li>
              <li class="breadcrumb-item active">View detail</li>
            </ol>
            <div>
              <h3 class="mb-3">Order detail with id = <%= orderDetails.id %></h3>
              <hr />
              <table class="table table-hover ">
                <thead>
                  <tr>
                    <th>Sản phẩm</th>
                    <th>Tên</th>
                    <th>Giá cả</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                  </tr>
                </thead>
                <tbody>
                    <% orderDetails.forEach(order => { %>
                        <tr>
                            <th>
                                <div class="d-flex align-items-center"></div>
                                    <img class="img-fluid me-5 rounded-circle" style="width: 80px;height: 80px;" src="/images/products/<%= order.product.image %>" alt="">
                                
                            </th>
                            <td>
                                <p class="mb-0 mt-4">
                                    <a href="/product/<%= order.product.id %>" target="_blank">
                                        <%= order.product.name %>
                                    </a>
                                </p>
                             
                            </td>
                            <td>
                                 <p class="mb-0 mt-4">
                                    <%= new Intl.NumberFormat('vi-VN', {
                                  style: 'currency' , currency: 'VND'
                                  }).format(order.price) %>  
                                 </p>
                                
                            </td>
                            <td>
                                <p class="mb-0 mt-4">  <%= order.quantity %></p>
                              
                            </td>
                            <td>
                                  <p class="mb-0 mt-4"><%= new Intl.NumberFormat('vi-VN', {
                                  style: 'currency' , currency: 'VND'
                                  }).format(order.price * order.quantity) %>  </p>
                                
                            </td>
                        </tr>
                 <% }); %>
                </tbody>
              </table>
            </div>
            <a href="/admin/order" class="btn btn-success mt-3">Back</a>
          </div>
        </main>
        <%- include("../layout/footer"); -%>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/admin/js/scripts.js"></script>
  </body>
</html>
