<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Hỏi Dân IT - Dự án laptopshop" />
    <meta name="author" content="Hỏi Dân IT" />
    <title>View Product - Hỏi Dân IT</title>
    <link href="/admin/css/styles.css" rel="stylesheet" />
    <script
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
      $(document).ready(() => {
        const avatarFile = $('#avatarFile');
        avatarFile.change(function (e) {
          const imgURL = URL.createObjectURL(e.target.files[0]);
          $('#avatarPreview').attr('src', imgURL);
          $('#avatarPreview').css({ display: 'block' });
        });
      });
    </script>
  </head>

  <body class="sb-nav-fixed">
    <%- include("../layout/header"); -%>
    <div id="layoutSidenav">
      <%- include("../layout/sidenav"); -%>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
            <h1 class="mt-4">Manage Products</h1>
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item">
                <a href="/admin">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">
                <a href="/admin/product">Products</a>
              </li>
            </ol>
            <div class="row">
              <div class="col-6 mx-auto">
                <div class="">
                    
                  <form
                    action="/admin/update-product"
                    enctype="multipart/form-data"
                    method="post"
                  >
                   <input
                        value="<%= product.id %>"
                          name="id"
                          type="text"
                          class="form-control"
                          hidden
                        />
                    <h5 class="mb-3">View a product:</h5>
                    <div class="row">
                      <div class="mb-3 col-6">
                        <label class="form-label">Name</label>
                        <input name="name" value="<%= product.name %>" type="text" class="form-control" />
                      </div>
                      <div class="mb-3 col-6">
                        <label class="form-label">Price: </label>
                        <input
                        value="<%= product.price %>"
                          name="price"
                          type="number"
                          class="form-control"
                        />
                      </div>
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Detail Description:</label>
                      <textarea
                        name="detailDesc"
                        class="form-control"
                        rows="2"
                      ><%= product.detailDesc %></textarea>
                    </div>
                    <div class="row">
                      <div class="mb-3 col-6">
                        <label class="form-label">Short Description</label>
                        <input
                        value="<%= product.shortDesc %>"
                          name="shortDesc"
                          type="text"
                          class="form-control"
                        />
                      </div>
                      <div class="mb-3 col-6">
                        <label class="form-label">Quantity</label>
                        <input
                        value="<%= product.quantity %>"
                          name="quantity"
                          type="number"
                          class="form-control"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="mb-3 col-6">
                        <label class="form-label">Factory</label>
                        <% const factoryOptions = [
                            { name: "Apple (MacBook)", value: "APPLE" },
                            { name: "Asus", value: "ASUS" },
                            { name: "Lenovo", value: "LENOVO" },
                            { name: "Dell", value: "DELL" },
                            { name: "LG", value: "LG" },
                            { name: "Acer", value: "ACER" },
                            ];
                            %>
                        <select name="factory" class="form-select">
                                <% factoryOptions.forEach(f => { %>
                                    <option value="<%= f.value %>" <%= product.factory === f.value ? "selected" : "" %>>
                                    <%= f.name %>
                                    </option>
                                <% }) %>
                        </select>
                      </div>
                      <div class="mb-3 col-6">
                        <% const targetOptions = [
  { name: "Gaming", value: "GAMING" },
  { name: "Sinh viên - Văn phòng", value: "SINHVIEN-VANPHONG" },
  { name: "Thiết kế đồ họa", value: "THIET-KE-DO-HOA" },
  { name: "Mỏng nhẹ", value: "MONG-NHE" },
  { name: "Doanh nhân", value: "DOANH-NHAN" },
];
 %>
                        <label class="form-label">Target</label>
                        <select name="target" class="form-select">
                          <% targetOptions.forEach(target => { %>
                            <option value="<%=target.value %>" <%= product.target === target.value && "selected"  %>><%=target.name %> </option>
                          <%}); %>
                        </select>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="formFile" class="form-label">Avatar</label>
                      <input
                        name="image"
                        class="form-control"
                        type="file"
                        id="avatarFile"
                        accept=".png, .jpg, .jpeg"
                      />
                    </div>
                    <% if (product.image) { %>
                            <img
                      style="max-height: 250px; display: block"
                      src="/images/products/<%-product.image %>"
                      alt="avatar preview"
                      id="avatarPreview"
                    />
                          <% } else { %>
                            <img
                      style="max-height: 250px; display: none"
                      alt="avatar preview"
                      id="avatarPreview"
                    />
                          <% } %>


                    <div class="mb-3">
                      <button class="btn btn-warning mt-3" type="submit">
                        Submit
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </main>
        <%- include("../layout/footer"); -%>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="/admin/js/scripts.js"></script>
  </body>
</html>
